<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="sales_order_place_after" instance="Getnet\MagePayments\Observer\AfterOrderPlaceObserver" />
    </event>
    <event name="controller_action_predispatch_checkout_index_index">
        <observer name="initiate_checkout_onepage" instance="Getnet\MagePayments\Observer\RestoreQuote" />
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="checkout_onepage_controller_success_action_sendmail" instance="Getnet\MagePayments\Observer\SendMailOnOrderSuccess" />
    </event>
    <event name="sales_order_creditmemo_refund">
        <observer name="sales_order_creditmemo_refund" instance="Getnet\MagePayments\Observer\RefundObserver" />
    </event>
    <event name="order_cancel_after">
        <observer name="order_cancel_after" instance="Getnet\MagePayments\Observer\CancelObserver" />
    </event>
    <event name="sales_order_invoice_cancel">
        <observer name="sales_order_invoice_cancel" instance="Getnet\MagePayments\Observer\RefundOrderObserver" />
    </event>
    <event name="sales_order_payment_cancel_invoice">
        <observer name="sales_order_payment_cancel_invoice" instance="Getnet\MagePayments\Observer\RefundOrderObserver" />
    </event>
    <event name="sales_order_payment_cancel_creditmemo">
        <observer name="sales_order_payment_cancel_creditmemo" instance="Getnet\MagePayments\Observer\RefundOrderObserver" />
    </event>
</config>